<div class="chat-body">
    <div class="message">
        <header>User</header>
        <p>This is a test message</p>
        <footer>14:00</footer>
    </div>
    <div class="message">
        <header>Other User</header>
        <p>This is a test Response</p>
        <footer>14:05</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text">
    <button>Send</button>
</div>